/*
Color Palette
background color: #E02401
primary: #F78812
secondary: #AB6D23
tertiary: #51050F
accent: #9277AC
vegasGold: #c5b358
white: #fff
black: #000  
*/


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #E02401;
    color: #fff;
}


.header {
    font-size: 3rem;
    text-align: Center;
}


.christmasTitle {
    padding: 3rem;
    font-size: 1.6rem;
}

.chineseNewYearTitle {
    padding: 3rem;
    font-size: 1.6rem;
}

.hanukkahTitle {
    padding: 3rem;
    font-size: 1.6rem;
}

.chineseLamp img {
    width: 43vw;
}

 









@media (min-width: 800px) {
    
    .christmas {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    text-align: left
}


    
    }